<body>
  <nav class="navbar bg-dark">
    <div class="container-fluid">
      <span class="navbar-brand mb-0 h1 texto">Películas</span>
    </div>
  </nav>
  <section class="hero">
    <!--CARDS-->
    <div class="card" style="width: 18rem;" *ngFor="let item of movies">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.
        </p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </section>
</body>
